In [88]:
import pandas as pd

In [89]:
df = pd.read_csv(r"C:\Users\Maybach\Desktop\Pandas\world-happiness-report-2021.csv")

In [90]:
df

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,Western Europe,7.842,0.032,7.904,7.780,10.775,0.954,72.000,0.949,-0.098,0.186,2.43,1.446,1.106,0.741,0.691,0.124,0.481,3.253
1,Denmark,Western Europe,7.620,0.035,7.687,7.552,10.933,0.954,72.700,0.946,0.030,0.179,2.43,1.502,1.108,0.763,0.686,0.208,0.485,2.868
2,Switzerland,Western Europe,7.571,0.036,7.643,7.500,11.117,0.942,74.400,0.919,0.025,0.292,2.43,1.566,1.079,0.816,0.653,0.204,0.413,2.839
3,Iceland,Western Europe,7.554,0.059,7.670,7.438,10.878,0.983,73.000,0.955,0.160,0.673,2.43,1.482,1.172,0.772,0.698,0.293,0.170,2.967
4,Netherlands,Western Europe,7.464,0.027,7.518,7.410,10.932,0.942,72.400,0.913,0.175,0.338,2.43,1.501,1.079,0.753,0.647,0.302,0.384,2.798
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,Lesotho,Sub-Saharan Africa,3.512,0.120,3.748,3.276,7.926,0.787,48.700,0.715,-0.131,0.915,2.43,0.451,0.731,0.007,0.405,0.103,0.015,1.800
145,Botswana,Sub-Saharan Africa,3.467,0.074,3.611,3.322,9.782,0.784,59.269,0.824,-0.246,0.801,2.43,1.099,0.724,0.340,0.539,0.027,0.088,0.648
146,Rwanda,Sub-Saharan Africa,3.415,0.068,3.548,3.282,7.676,0.552,61.400,0.897,0.061,0.167,2.43,0.364,0.202,0.407,0.627,0.227,0.493,1.095
147,Zimbabwe,Sub-Saharan Africa,3.145,0.058,3.259,3.030,7.943,0.750,56.201,0.677,-0.047,0.821,2.43,0.457,0.649,0.243,0.359,0.157,0.075,1.205
148,Afghanistan,South Asia,2.523,0.038,2.596,2.449,7.695,0.463,52.493,0.382,-0.102,0.924,2.43,0.370,0.000,0.126,0.000,0.122,0.010,1.895

In [91]:
df.describe()

,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
count,149.000000,149.000000,149.000000,149.000000,149.000000,149.000000,149.000000,149.000000,149.000000,149.000000,1.490000e+02,149.000000,149.000000,149.000000,149.000000,149.000000,149.000000,149.000000
mean,5.532839,0.058752,5.648007,5.417631,9.432208,0.814745,64.992799,0.791597,-0.015134,0.727450,2.430000e+00,0.977161,0.793315,0.520161,0.498711,0.178047,0.135141,2.430329
std,1.073924,0.022001,1.054330,1.094879,1.158601,0.114889,6.762043,0.113332,0.150657,0.179226,5.347044e-15,0.404740,0.258871,0.213019,0.137888,0.098270,0.114361,0.537645
min,2.523000,0.026000,2.596000,2.449000,6.635000,0.463000,48.478000,0.382000,-0.288000,0.082000,2.430000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.648000
25%,4.852000,0.043000,4.991000,4.706000,8.541000,0.750000,59.802000,0.718000,-0.126000,0.667000,2.430000e+00,0.666000,0.647000,0.357000,0.409000,0.105000,0.060000,2.138000
50%,5.534000,0.054000,5.625000,5.413000,9.569000,0.832000,66.603000,0.804000,-0.036000,0.781000,2.430000e+00,1.025000,0.832000,0.571000,0.514000,0.164000,0.101000,2.509000
75%,6.255000,0.070000,6.344000,6.128000,10.421000,0.905000,69.600000,0.877000,0.079000,0.845000,2.430000e+00,1.323000,0.996000,0.665000,0.603000,0.239000,0.174000,2.794000
max,7.842000,0.173000,7.904000,7.780000,11.647000,0.983000,76.953000,0.970000,0.542000,0.939000,2.430000e+00,1.751000,1.172000,0.897000,0.716000,0.541000,0.547000,3.482000

In [92]:
cols = list(df.columns)

new_df = df[cols[0:3]]

new_df

    Country name  Regional indicator  Ladder score
0        Finland      Western Europe         7.842
1        Denmark      Western Europe         7.620
2    Switzerland      Western Europe         7.571
3        Iceland      Western Europe         7.554
4    Netherlands      Western Europe         7.464
..           ...                 ...           ...
144      Lesotho  Sub-Saharan Africa         3.512
145     Botswana  Sub-Saharan Africa         3.467
146       Rwanda  Sub-Saharan Africa         3.415
147     Zimbabwe  Sub-Saharan Africa         3.145
148  Afghanistan          South Asia         2.523

[149 rows x 3 columns]

In [93]:
new_df.sort_values('Ladder score', ascending = False)

    Country name  Regional indicator  Ladder score
0        Finland      Western Europe         7.842
1        Denmark      Western Europe         7.620
2    Switzerland      Western Europe         7.571
3        Iceland      Western Europe         7.554
4    Netherlands      Western Europe         7.464
..           ...                 ...           ...
144      Lesotho  Sub-Saharan Africa         3.512
145     Botswana  Sub-Saharan Africa         3.467
146       Rwanda  Sub-Saharan Africa         3.415
147     Zimbabwe  Sub-Saharan Africa         3.145
148  Afghanistan          South Asia         2.523

[149 rows x 3 columns]

In [99]:
new_df = new_df.rename(columns = {'Ladder score':'Happiness Score'})
new_df

    Country name  Regional indicator  Happiness Score
0        Finland      Western Europe            7.842
1        Denmark      Western Europe            7.620
2    Switzerland      Western Europe            7.571
3        Iceland      Western Europe            7.554
4    Netherlands      Western Europe            7.464
..           ...                 ...              ...
144      Lesotho  Sub-Saharan Africa            3.512
145     Botswana  Sub-Saharan Africa            3.467
146       Rwanda  Sub-Saharan Africa            3.415
147     Zimbabwe  Sub-Saharan Africa            3.145
148  Afghanistan          South Asia            2.523

[149 rows x 3 columns]

In [100]:
regions = list(df['Regional indicator'])
regions

regions_single = list(set([x for x in regions if regions.count(x)>1]))
regions_single

['South Asia',
 'Middle East and North Africa',
 'Western Europe',
 'Central and Eastern Europe',
 'Sub-Saharan Africa',
 'North America and ANZ',
 'Latin America and Caribbean',
 'Southeast Asia',
 'East Asia',
 'Commonwealth of Independent States']

In [101]:
new_df.loc[df['Regional indicator'] == 'Western Europe']

      Country name Regional indicator  Happiness Score
0          Finland     Western Europe            7.842
1          Denmark     Western Europe            7.620
2      Switzerland     Western Europe            7.571
3          Iceland     Western Europe            7.554
4      Netherlands     Western Europe            7.464
5           Norway     Western Europe            7.392
6           Sweden     Western Europe            7.363
7       Luxembourg     Western Europe            7.324
9          Austria     Western Europe            7.268
12         Germany     Western Europe            7.155
14         Ireland     Western Europe            7.085
16  United Kingdom     Western Europe            7.064
19         Belgium     Western Europe            6.834
20          France     Western Europe            6.690
22           Malta     Western Europe            6.602
26           Spain     Western Europe            6.491
27           Italy     Western Europe            6.483
38          Cyprus     Western Europe            6.223
57        Portugal     Western Europe            5.929
67          Greece     Western Europe            5.723
73    North Cyprus     Western Europe            5.536

In [106]:
frames = []

for r in regions_single:
    reg_df = new_df.loc[df['Regional indicator'] == r]
    frames.append(reg_df)
    
final_df = pd.concat(frames)

final_df.reset_index(drop=True, inplace=True)

score_by_region = final_df

In [107]:
score_by_region

     Country name                  Regional indicator  Happiness Score
0           Nepal                          South Asia            5.269
1        Maldives                          South Asia            5.198
2      Bangladesh                          South Asia            5.025
3        Pakistan                          South Asia            4.934
4       Sri Lanka                          South Asia            4.325
..            ...                                 ...              ...
144       Armenia  Commonwealth of Independent States            5.283
145    Azerbaijan  Commonwealth of Independent States            5.171
146  Turkmenistan  Commonwealth of Independent States            5.066
147       Georgia  Commonwealth of Independent States            4.891
148       Ukraine  Commonwealth of Independent States            4.875

[149 rows x 3 columns]

In [108]:
score_by_region.to_csv(r"C:\Users\Maybach\Desktop\Pandas\score_by_region.csv")